$text: #000;
$red: #ff0000;
$orange: #f4860a;
$yellow: #f1e405;
$green: #057a25;
$blue: #024bf3;
$purple: #700983;
$footer-bg: #000000;

$rainbow: [$red, $orange, $yellow, $green, $blue, $purple];

$header-font: "Roboto Mono", "Times New Roman", monospace;
$body-font: "Roboto", "Times New Roman", sans-serif;

$transition: all 0.2s ease;

$mobile-width: 500px;
$heading-font-size: 144px;
$heading-font-shrink-point: 880px;