@use "colors";

nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 30px;
  background-color: #fff;
  text-transform: lowercase;
  z-index: 10000;

  .logo {
    height: 50px;

    &:hover {
      transform: translate(-3px, -3px);
    }
  }

  ul {
    display: flex;
    position: relative;
    padding: 0;

    .underline {
      transition: colors.$transition;
      height: 10px;
      position: absolute;
      bottom: -15px;
      left: 20px;

      span {
        transition: colors.$transition;
        position: absolute;
        height: 100%;
      }
    }

    li {
      list-style: none;
      padding: 0 20px;
      position: relative;
      cursor: pointer;

      a {
        position: relative;
        text-decoration: none;
        color: inherit;
        font-family: colors.$header-font;
      }

      &:hover a {
        top: -3px;
        left: -3px;
      }
    }
  }
}